.conteiner-acordion {
    display: flex;
    justify-content: center;
  }

.conteinerindex{
    margin-bottom: 30px;
  }
  
.menu-container {
    margin-left: 2000px;
  }
  
.conteiner1 {
    margin: 200px -300px 200px 0;
  }

.padding{
  padding:20px;
}

.gap{
  gap:10px;
}

.row.gap .col{
  display: flex;
  justify-content: center;

}

.footer{
  background-color: $footer;
}

